@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

.container {
  max-width: 767px;
}

.font-light {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

.font-regular {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

.font-bold {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.min-spacer {
  margin: 20px 0px 20px 0px;
}
.med-spacer {
  margin: 40px 0px 40px 0px;
}

.filter {
  position: relative;
  -webkit-filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
  filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: darken;
  background: -webkit-linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(66, 10, 14, 0));
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(66, 10, 14, 0));
}

.bg-gradient {
  background: linear-gradient(90deg,#485563,#75489f);
}
.text-white {
  color: #fff;
}
.padding-20 {
  padding: 20px;
}